<ion-item>
  <ion-label>NIVELES</ion-label>
  <ion-select value="peperoni" placeholder="Select Nivel" [(ngModel)]="niveles">
    <ion-select-option value="principiante">PRINCIPIANTE</ion-select-option>
    <ion-select-option value="intermedio">INTERMEDIO</ion-select-option>
    <ion-select-option value="avanzado">AVANZADO</ion-select-option>
  </ion-select>
</ion-item>



<img [src]=" '../../assets/spots/niveles/'+niveles+ '.png'" />
<img [src]=" 'assets/spots/niveles/'+niveles+ '.png'" />
<img [src]=" 'src/assets/spots/niveles/'+niveles+ '.png'" />
